matplotlib==2.1.0
tensorflow==1.13.1
numpy==1.13.3
inflect==0.2.5
librosa==0.6.0
scipy==1.0.0
tensorboardX==1.1
Unidecode==1.0.22
pillow==6.1.0
torch_stft==0.1.4
redis==3.3.8
dill
torchtext==0.3.1
PyYaml
visdom
pika==1.1.0
torch==1.1.0
ftfy==5.6
bogo==1.1
celery==5.0.0
shortuuid